* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  line-height: 1.5;
  background-color: #f9f9f9;
  padding: 2rem;
}

.content-box {
  border: 1px solid #ccc;
  padding: 3rem;
  max-width: 1000px;
  margin: 2rem auto;
  background-color: #fff;
}

.inner-content {
  max-width: 600px;
  margin: 0 auto;
  text-align: left;
}

header {
  text-align: center;
  margin-bottom: 2rem;
}

header h1 {
  font-size: 2rem;
  letter-spacing: 2px;
  margin-bottom: 0.3rem;
  text-transform: uppercase;
}

header h2 {
  font-size: 1rem;
  font-weight: normal;
  color: #006EB6;
  letter-spacing: 2px;
  text-transform: uppercase;
  border-bottom: 1px solid #ccc;
  padding-bottom: 0.5rem;
}

main p,
main ol {
  margin-bottom: 2rem;

}

main ol {
  padding-left: 3rem;
}

main li {
  margin-bottom: 0.75rem;
}

footer {
  text-align: center;
  margin-top: 3rem;
  padding-top: 2rem;
}

footer img {
  width: 150px;
  height: auto;
}


body.dark {
  background-color: #333;
  color: white;
}

body.dark .content-box {
  background-color: #444;
  border-color: #666;
}

body.dark header h2 {
  color: #A0D4ED;
  border-color: #888;
}

body.dark main p,
body.dark main li {
  color: white;
}

body.dark footer img {
  filter: brightness(0) invert(1);
}